<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h4> Table Dump </h4>
          <h4>
            <a href="/trunk/dump"> TRUNK </a> &nbsp;
            <a href="/ub21/dump"> UB21 </a> &nbsp;
            <a href="/ub22/dump"> UB22 </a> 
          </h4>
        </div>
        <div class="col-md-3">
          <h4> DB Copy </h4>
          <h4>
            <a href="/trunk/copy"> TRUNK </a> &nbsp;
            <a href="/ub21/copy"> UB21 </a> &nbsp;
            <a href="/ub22/copy"> UB22 </a> 
          </h4>
        </div>
    </div>
    {{template "content" .}}
  </body>
</html>