{{ define "content" }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <form id="db-select-form" enctype='application/json' class="form-inline" action="/">
          <select id='db-select' name='database' onchange="onSelect(this.selectedIndex)" class="form-control" style="width: 100%" >
              {{ $selectdb := .SelectDB }}
              {{ range $key, $value := .Databases }}                
                <option value={{ $value.Database }} {{ if eq $selectdb $value.Database }} selected=true {{ end }}>{{ $value.Database }}</option>
              {{ end }}
          </select>
        </form>
      </div>

      <div class="col-md-3">
        <form id="select-form" class="form-inline" action="/">
          <select id="multiSelect1" name='selecttables' class="form-control" multiple="multiple" style="width: 50%" >
            {{ $selectdb := .SelectDB }}
            {{ range $key, $value := .Databases}}
              {{ if eq $selectdb $value.Database }}

                {{ range $key2, $value2 := $value.Tables}}
                <option value={{ $value2 }}>{{ $value2 }}</option>
                {{ end }}
              {{ end }}
            {{ end }}
          </select>
          <button class="btn btn-danger" type="submit">선택</button>
        </form>
      </div>

      <div class="col-md-3">
        <form id="my-form" enctype='application/json' class="form-inline" action="/dump" method="post">
          <select id="multiSelect2" name='tables' class="form-control" multiple="multiple" style="width: 50%" >
            {{ range $key, $value := .Selected}}
            <option selected=true value={{ $value }}>{{ $value }}</option>
            {{ end }}
          </select>
          <button id="delete-btn" class="btn btn-danger" type="reset" onclick="onClick()" >지우기</button>
          <button class="btn btn-danger" type="submit">덤프</button>
        </form>
      </div>

      <div class="col-md-4">
          <table class="table table-hover">
            <tr>
              <th> FileName </th>
              <th><a class="btn btn-danger" type="button" onclick="onDeleteFiles()" >Clear</button></th>
            </tr>
            {{ $dbver := .DBVer }}
            {{ range $key, $value := .Files}}
              <tr>
                <td>{{ $value }}</td>
                {{ $downloadUrl := (printf "%s/files/%s" $dbver $value) }}
                <td><a class="btn btn-danger" href={{ $downloadUrl }} type="button" download={{ $downloadUrl }} >Download</button></td>
              </tr>
            {{ end }}
          </table>
        </div>
    </div>    
  </div>
      
{{ end }}